body {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-size: 14px;
}

.blog-menu {
    padding: 0;
    padding-left: 1rem;
}

.menu .menu-text {
    color: white;
}

a.blog-logo-title {
    color: white;
}

.blog-tag {
    font-size: x-small;
    padding-right: 10px;
    text-decoration: underline;
}

.blog-group-title {
    font-size: small;
    font-weight: bold;
}

ul.blog-links > li > a {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.blog-footer {
    font-size: x-small;
    padding-top: 20px;
    margin-bottom: 5px;
}

.blog-topbar-gif {
    height: 50px;
    margin-top: -1px;
}

.page-nav {
    padding-top: 15px;
}

a.page-number {
    margin-left: 10px;
    margin-right: 10px;
}

code, pre {
    font-size: small;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
}

p.blog-post-more-mark {
    margin-top: 0;
}

.blog-post p {
    margin-bottom: 0;
}

.blog-tags {
    margin-top: 20px;
}

.blog-page-nav-container {
    padding-top: 20px;
    font-size: small;
}

h1, h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.blog-content h1 {
    font-size: 1.25rem;
    font-weight: bold;
}

.blog-content h2 {
    font-size: 1.15rem;
    font-weight: bold;
}

.blog-content h3 {
    font-size: 1.05rem;
    font-weight: bold;
}

.blog-content h4 {
    font-size: 1.00rem;
    font-weight: bold;
}
