body {
    color: #ddd;
    background: black url("/images/bg.jpg") no-repeat;
}

.blog-menu, .blog-menu ul {
    background: #003b4d;
}

.menu .menu-text {
    color: white;
}

a.blog-logo-title {
    color: white;
}

a, .blog-tag, .blog-link, .blog-group-title {
    color: #f80000;
}

code.hljs, pre.hljs {
    background: #1d1d1d;
}

.gt-container .gt-header-textarea, .gt-container .gt-header-textarea:hover {
    color: white;
    background: #1d1d1d;
}

hr {
    border-bottom: 1px solid #670e00;
}