.blog-menu {
    background: url("assets/tt.jpg");
}

.blog-menu ul {
    background: none;
}

ul.sub-menu {
    background: white;
}

ul.sub-menu li {
    border-bottom: 1px solid #eee;
}

ul.sub-menu li a {
    font-weight: bold;
}

.menu .menu-text {
    color: white;
}

a.blog-logo-title {
    color: white;
}

a {
    color: #3779bd;
}

.blog-tag {
    color: #3779bd;
}

.menu-link {
    color: #eee;
    font-size: 15px;
    font-weight: bold;
}

.menu-link:hover, .dropdown.menu>li.is-active>a {
    color: white;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #ffffff transparent transparent;
}

.blog-group-title {
    color: #3779bd;
}

.hljs {
    background: #f8f8f8;
}

.left-placeholder {
    background: url("/assets/y.png") no-repeat;
    background-size: contain;
}
