<div class="large primary blog-footer text-center ">
    <span class="blog-footer-text blog-link">&copy;2016-2018 Riguz Lee <a href="http://www.miitbeian.gov.cn/" class="blog-link">鄂ICP备15003868号-1</a></span>
</div>