<div class="medium-3 cell" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
        <p><% console.log(site.categories) %></p>
        <h5>Categories</h5>
        <%- list_categories({class:"menu dropdown medium-horizontal vertical"}) %>

        <h5>Tags</h5>
        <%- list_tags() %>
    </div>
</div>