body {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
}

.blog-menu {
    padding: 10px;
    padding-left: 1rem;
    margin-bottom: 25px;
}

.menu .menu-text {
    color: white;
}

a.blog-logo-title {
    color: white;
}

.blog-content {
    padding-top: 15px;
}

.blog-tags {
    padding-top: 10px;
}

.blog-tag {
    font-size: small;
    padding-right: 10px;
    text-decoration: underline;
}

.blog-group-title {
    font-size: small;
    font-weight: bold;
}

ul.blog-links > li > a, ul.blog-links > li > ul > li a {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.blog-footer {
    font-size: x-small;
    padding-top: 20px;
    margin-bottom: 5px;
}

.blog-topbar-gif {
    height: 50px;
    margin-top: -1px;
}

.page-nav {
    padding-top: 15px;
}

a.page-number {
    margin-left: 10px;
    margin-right: 10px;
}

code, pre {
    font-size: small;
    font-family: Menlo, Monaco, Consolas, "Lucida Console", "Courier New", monospace;
}

p.blog-post-more-mark {
    margin-top: 0;
}

.blog-post p {
    margin-bottom: 0;
}

.blog-tags {
    margin-top: 20px;
}

.blog-page-nav-container {
    padding-top: 20px;
    font-size: small;
}

.blog-content > p > img {
    width: 600px;
}

code, pre {
    border: none;
}

h6, h1.blog-link {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1.0em;
}

ol.toc, ol.toc-child {
    list-style-type: none;
}

figure {
    text-align: center;
    font-size: small;
}

figure img {
    width: 600px;
}