.navbar
  position relative
  padding-top 3rem
  text-align center
  .nav
    list-unstyled()
    .nav-item-link
      display block
      padding 1rem;
      color sea-dark
      text-decoration none
      cursor pointer
      &:hover
        color link-hover-color
    &.nav-main
      .nav-item-link
        &::before, i.fe
          display block
          line-height 1
        &::before
          font-family 'feathericon'
      .nav-item
        &:nth-child(1)         // home see icons here: https://feathericon.github.io/feathericon/
          .nav-item-link
            &::before
              content '\f12f'
        &:nth-child(2)         // archives
          .nav-item-link
            &::before
              content '\f105'
        &:nth-child(3)         // wiki
          .nav-item-link
            &::before
              content '\f109'

        &:nth-child(4)         // galley
          .nav-item-link
            &::before
              content '\f174'
        &:nth-child(5)         // galley
          .nav-item-link
            &::before
              content '\f177'
        &:nth-child(6)         // project
          .nav-item-link
            &::before
              content '\f17e'

        &:nth-child(7)         // about
          .nav-item-link
            &::before
              content '\f1f6'

        &:nth-child(8)         // github
           .nav-item-link
             &::before
               content '\f1d6'

.navbar-bottom
  position absolute
  bottom 0
  width 100%

.logo
  text-align center
  img
    width brand-size

